---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Carousel from "../components/Carousel.astro";
import Products from "../components/Products.astro";

---

<Layout title="FerremaX | Las mejores herramientas del mercado">
  <main>
    <Header />
    <Carousel />
    <Products />
  </main>

</Layout>
