---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="FerremaX | Pagina no encontrada">
  <main>
    <Header />
    <div class="flex flex-col justify-center items-center">
      <h1 class="flex justify-center items-center text-3xl font-bold pt-40">Pagina no encontrada</h1>
    </div>
  </main>

</Layout>
