---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="FerremaX | Las mejores herramientas del mercado">
  <main>
    <Header />

    <div class="flex flex-col justify-center items-center pt-40">
      <h1>Estes es final</h1>
    </div>
  </main>
</Layout>
