---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Payment from "../components/Payment.astro";
---

<Layout title="FerremaX | Las mejores herramientas del mercado">
  <main>
    <Header />
    <Payment />
  </main>

  <script>
  </script>
</Layout>
