---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Products from "../components/Products.astro";
---

<Layout title="FerremaX | Las mejores herramientas del mercado">
  <main>
    <Products />
  </main>

</Layout>
