---
import Layout from "../layouts/Layout.astro";
import { db, Usuarios, eq } from "astro:db";



if (Astro.request.method === "POST"){
    const formData = await Astro.request.formData();
    const name = formData.get('name');
    const email = formData.get("email");
    const password = formData.get("password");
    
    if (typeof name === 'string' && typeof email === 'string' && typeof password === 'string') {
        // const correos = await db.select({correo: Usuarios.email}).from(Usuarios);
        // const correos_array = correos.map(correo => correo.correo);
        const usuario = await db.select().from(Usuarios).where(eq(Usuarios.email, email));  
        console.log(usuario);
        if (usuario.length > 0 && usuario[0].email === email){
            console.log("Correo ya registrado");
        } else {
            console.log("Usuario registrado");
            await db.insert(Usuarios).values({name: name, email: email, password_hash: password })
            return Astro.redirect("/login");
        }
    }
}else{
    Astro.redirect("../");
}


---

<Layout title="FerremaX | Las mejores herramientas del mercado">
  <main>
    <section class="bg-gray-50 dark:bg-gray-900 h-screen">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <a href="../" class="flex items-center justify-center mt-4 mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                <img class="w-96 mr-2" src="/FerreMaxicon.png" alt="logo">
            </a>
            <div class="w-full bg-gray-100 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold text-center leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Registrate con nosotros 
                    </h1>
                    <form class="space-y-4 md:space-y-6" method="POST">
                        <div>
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tu nombre</label>
                            <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5" placeholder="" required>
                        </div>
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tu correo</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5" placeholder="name@company.com" required>
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Contraseña</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5" required>
                        </div>
                        <button type="submit" class="w-full font-semibold text-white bg-orange-500 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Registrar cuenta</button>
                        <p class="font-light text-gray-500">
                            ¿Ya tienes cuenta? <a href="../login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Inicia sesión</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
      </section>
  </main>
</Layout>
