---
import Layout from "../layouts/Layout.astro";

const apiKeyId = "597055555532";
const apiKeySecret =
  "579B532A7440BB0C9079DED94D31EA1615BACEB56610332264630D42D0A36B1C";
const res = await fetch(
  "https://webpay3gint.transbank.cl/rswebpaytransaction/api/webpay/v1.2/transactions",
  {
    method: "POST",
    headers: {
      "Tbk-Api-Key-Id": apiKeyId,
      "Tbk-Api-Key-Secret": apiKeySecret,
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      buy_order: 123456789,
      session_id: "session123455754",
      amount: 10000,
      return_url: "https://web-ferremas.vercel.app",
    }),
  }
);

const { token, url } = await res.json();
---

<Layout title="Paga tus productos">
  <div class="flex justify-center items-center h-screen">
    <a
      href={url + "?token_ws=" + token}
      class="text-white font-semibold bg-orange-500 hover:bg-orange-700 focus:ring-4 focus:outline-none focus:ring-orange-300 rounded-lg text-lg px-6 py-3 text-center transition-colors duration-200 ease-in-out"
      >Pagar</a
    >
  </div>
</Layout>
